.body {
    text-align: center;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 91%;

}

.lastPasrt {
    display: flex;
    background-color: rgba(185, 207, 207, 0.644);
    margin: auto;
    width: 91%;
    text-align: center;
    padding-bottom: 10%;
}

.lastPasrt .contact {
    margin-top: 5%;
    margin-left: 10%;
}

.lastPasrt .ForCustomer {
    margin-top: 5%;
    margin-left: 10%;
}
.lastPasrt ul{
list-style-type: none;
}

table {
    margin: auto;
    width: 50%;
}